  <footer>&copy; Stephen Koch {{year}}</footer>

{% if not is_dev %}
  <script src="js/app-built.js"></script>
{% else %}
  <script data-main="js/app" src="js/require.js"></script>
{% endif %}

  </body>
</html>
